{% extends 'base.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {{ form(form) }}
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>User Id</td>
                    <td>Transaction count</td>
                </tr>
                </thead>
                <tbody>
                {% for t in top5ByTransaction %}
                    <tr>
                        <td>{{ t.user_id }}</td>
                        <td>{{ t.transaction_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>User Id</td>
                    <td>Amount sum</td>
                </tr>
                </thead>
                <tbody>
                {% for t in top5ByAmount %}
                    <tr>
                        <td>{{ t.user_id }}</td>
                        <td>{{ t.amount_sum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Total amount</td>
                </tr>
                </thead>
                <tbody>
                {% for t in totalAmountEvolution %}
                    <tr>
                        <td>{{ t.created_at }}</td>
                        <td>{{ t.amount_sum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('transaction_delete') }}"
           onclick="return confirm('Are u sure?')"
           class="btn btn-danger"
        >Delete all transactions</a>

        <a href="{{ path('transaction_dummy_data') }}"
           onclick="return confirm('Are u sure? All data will be deleted')"
           class="btn btn-danger"
        >Insert dummy data</a>
    </div>
{% endblock %}
